<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- if page.title %}
<title>{{ page.title }} | {{ site.title }}, IISER Berhampur</title>
{%- else %}
<title>{{ site.title }} | {{ site.tagline }}</title>
{%- endif %}
{% seo title=false %}
<link rel="icon" href="{{ '/images/favicon.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}?v={{ site.time | date: '%s' }}">
<script src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
